body, html {
    margin : 0;
    padding : 0;
}
/*Header*/
* {
    background-color: blanchedalmond;
    box-sizing : border-box;
    font-family : Arial, Helvetica, sans-serif
}

header {
    width : 100%;
    height : 60px;
}
.topnav a {
    float: right;
    color : black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    height : 30px;
}

.topnav a:hover {
    color : lightgrey;
}

/*End of header*/

blockquote {
    font-size : 5vw;
    text-align: Center;
}
.container {
    position: relative;
    text-align: center;
    color : white;
  }
.centered {
    font-size : 8vw;
    position : absolute;
    top : 50%;
    left : 50%;
    transform : translate(-50%, -50%);
}

/*Footer*/
.footer-container {
    background-color: black;
    padding: 64px 0 64px 0;
}

.footer {
    width : 100%;
    height : 244px;
    background-color: black;
    color : white;
    display : flex;
    justify-content: center;
    flex-wrap : wrap;
    margin : 0 auto;

    position :relative;
    bottom : 0 px;
}

.footer-heading {
    display: flex;
    flex-direction: column;
    margin-right: 64px;
    background-color: black;
}

.footer-heading h2 {
    margin-bottom: 32px;
    background-color: black;
}

.footer-heading a {
    color: white;
    text-decoration: none;
    margin-bottom : 8px;
    background-color: black;
}

.footer-heading a:hover {
    color: lightblue;
    transition: 0.3s ease-out;
} 

.footer-email-form {
    background-color: black;
}
.footer-email-form h2 {
    margin-bottom : 32px;
    background-color: black;
}

#footer-email {
    width: 250px;
    height : 40px;
    border-radius: 4px;
    outline:none;
    border: none;
    padding-left: 8px;
    font-size: 16px;
    margin-bottom: 16px;
}

#footer-email::placeholder{
    color: #b1b1b1;
}

#footer-email-btn {
    width : 100px;
    height :40px;
    border-radius :4px;
    background-color: #64338a;
    outline: none;
    border : none;
    color: #fff;   
    font-size: 16px; 
}

#footer-email-btn:hover {
    cursor:pointer;
    background-color: #e0b748;
    transition: all 0.4s ease-out;
}

@media screen and (max-width:1150px) {
    .footer {
        height : 305px;
    }
    .footer-email-form {
        margin-top: 64px;
    }
}

@media screen and (max-width:820px) {
    .footer {
        padding-top : 32px;
    }
}

@media screen and (max-width:720px) {
    .footer-3 {
        display : none
    }
    .footer-email-form {
        margin-top: 32px;
    }
}
/*End of Footer*/
@media screen and (max-width:768px){
    .logo {
        top : 90px;
        text-align: center;
    }

    .container {
        top :25px;
    }
}